# Never commit the private key
server/keys/private_key.pem

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Firmware binaries
firmware/secure_ota_device.bin
firmware/secure_ota_device.sig

# Test and temp files
*.sig
test*.*
temp_*.pem

# ESP-IDF build artifacts
device/build/
device/sdkconfig
device/dependencies.lock
